
/* Import */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,300);

/* Commons */

html, body {
  margin:0;
  padding:0;
}
html {
  direction:ltr;
  line-height:1;
  overflow-y:scroll;
}
body {
  background-color:#fff;
  color:#555;
  font:82.25% "Open Sans", Arial, Helvetica, sans-serif;
}
a, a:visited {
  color:#4890c8;
  text-decoration:none;
}
a:hover {
  color:#3880b8;
  text-decoration:underline;
}

/* Header */

.header-container {
  background:#eee url(../img/button-overlay.png) repeat-x;
  border:1px solid #e4e4e4;
  padding:auto;
  padding-top:5%;
}
.header-container .header {
  cursor:default;
  margin:auto;
  width:860px;
}
.header-container .header .header-content {
  overflow:hidden;
  padding:10px;
  padding-bottom:20px;
}

.header-menubar {
  font-size:1.2em;
  text-align:right;
  margin-bottom:-65px;
  margin-right:10px;
}
.header-menubar a {
  border-bottom:2px solid transparent;
  color:#0da5d7;
  margin-left:5px;
  margin-right:5px;
  text-shadow:1px 1px 0 rgba(0, 0, 0, 1);
}
.header-menubar a.current {
  color:#eee;
}
.header-menubar a:hover {
  color:#eee;
  text-decoration:none;
}

.header-content .logo {
  float:left;
}
.header-content .title {
  float: left;
  margin-left:20px;
}
.header-content .title h1,
.header-content .title span.h1 {
  color:#58a0d8;
  display:block;
  font-size:3.5em;
  font-weight:normal;
  margin-bottom:0;
  margin-top:0;
  text-shadow:1px 1px 0 rgba(255, 255, 255, 1);
}
.header-content .title h1 a,
.header-content .title h1 a:hover,
.header-content .title span.h1 a,
.header-content .title span.h1 a:hover {
  color:#58a0d8;
  text-decoration:none;
}
.header-content .title h2,
.header-content .title span.h2 {
  color:#444;
  display:block;
  font-size:1.4em;
  font-weight:normal;
  margin-bottom:0;
  margin-top:0;
  text-shadow:1px 1px 0 rgba(255, 255, 255, 1);
}
.header-content .shortcut {
  display:none;
  float:right;
  margin-right:10px;
  margin-top:64px;
}
.header-content .shortcut .label {
  text-shadow:1px 1px 0 rgba(255, 255, 255, 1);
}
.header-content .shortcut img {
  vertical-align:bottom;
}

.header-container.dark {
  background:#222 url(../img/button-overlay-dark.png) repeat-x;
  border:1px solid #000;
}
.header-container.dark .header-content .title h1,
.header-container.dark .header-content .title span.h1 {
  text-shadow:1px 1px 0 rgba(0, 0, 0, 1);
}
.header-container.dark .header-content .title h2,
.header-container.dark .header-content .title span.h2 {
  color:#eee;
  text-shadow:1px 1px 0 rgba(0, 0, 0, 1);
}
.header-container.dark .header-content .shortcut {
  color:#eee;
}
.header-container.dark .header-content .shortcut .label {
  text-shadow:1px 1px 0 rgba(0, 0, 0, 1);
}

/* Spacer */

.layout-spacer {
  background:#f4f4f4 url(../img/border-bottom-shadow.gif) repeat-x;
  height:15px;
}
.layout-spacer.home {
  height:35px;
}
.layout-spacer.dark {
  background:#f4f4f4 url(../img/border-bottom-shadow-dark.gif) repeat-x;
}

/* Body */

.layout-container {
  margin:auto;
  overflow:hidden;
  width:860px;
}
.layout-container .layout {
  float:left;
  cursor:default;
  width:50%;
}
.layout-container .layout.full {
  float:none;
  width:100%;
}
.layout-container .layout .layout-content {
  padding:10px;
}
.layout-container .layout .layout-content.center {
  text-align:center;
}
.layout-container .layout .layout-content.right {
  text-align:right;
}
.layout-container .layout .layout-content.nobottom {
  padding-bottom:0;
}
.layout-container .layout .layout-content.noleft {
  padding-left:0;
}
.layout-container .layout .layout-content.noright {
  padding-right:0;
}
.layout-container .layout .layout-content.notop {
  padding-top:0;
}
.layout-container.title {
  background-color:#f4f4f4;
  border-bottom:1px solid #ccc;
  margin-bottom:20px;
  padding-bottom:10px;
  width:100%;
}
.layout-container.title .layout {
  width:860px;
  margin:auto;
}

.layout-content .description {
  font-size:1.2em;
}
.layout-content.home .description {
  font-size:1.2em;
}
.layout-content .description.unspace {
  margin-bottom:0;
}
.layout-content p.description {
  margin:0;
  margin-bottom:10px;
  padding:0;
}
.layout-content.home p.description {
  margin-bottom:20px;
}
.layout-content ul.description {
  margin-bottom:15px;
  margin-top:5px;
  padding-top:0;
}

.layout-content h1,
.layout-content h2 {
  font-weight:normal;
  margin:0;
  padding:0;
}
.layout-content h2 {
  color:#0d5577;
}
.layout-content img {
  vertical-align:bottom;
}

/* Utils */

button.big {
  background:#eee url(../img/button-overlay.png) repeat-x;
  border:1px solid #ddd;
  box-shadow:0px 4px 10px #ddd;
  -webkit-box-shadow:0px 4px 10px #ddd;
  -moz-box-shadow:0px 4px 10px #ddd;
  border-radius:4px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  cursor:pointer;
  height:84px;
  overflow:hidden;
  margin:5px;
  margin-bottom:10px;
  margin-top:10px;
  padding:10px;
  padding-right:0;
  text-align:left;
}
button.big.hover {
  background-color:#eee;
  border-color:#e0e0e0;
  box-shadow:0px 4px 10px #aaa;
  -webkit-box-shadow:0px 4px 10px #aaa;
  -moz-box-shadow:0px 4px 10px #aaa;
  cursor:pointer;
}
button.big img {
  margin-left:4%;
  width:64px;
}
button.big a {
  display:block;
  color:#0da5d7;
  float:left;
  font-size:1.5em;
  font-weight:bold;
  margin-left:4%;
  margin-top:10px;
  text-decoration:none;
  text-shadow:1px 1px 0 rgba(255, 255, 255, 1);
  width:50%;
}

