<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  
  <head>

    <title>{% if page.title %} {{ page.title }} {% else %} Alasca, LDAP schema editor/convertor {% endif %}</title>
    <meta http-equiv="Content-Type" layout="text/html; charset=utf-8"/>
    <meta name="Description" content="Alasca is a tool that allows system administrators to edit and/or convert LDAP schemas to be used in different LDAP server technologies. Alasca is usefull in LDAP migration projects.">
    <meta name="Keywords" content="Alasca, LDAP, schema, editor, converter">
    <link href="assets/css/website.css" media="screen" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="assets/js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript">
    <!--
      function initialize_bigbutton()
      {
        $('button.big>img,button.big>a').css({opacity:0.7});
        $('button.big').bind('mouseover', function()
        {
          $(this).addClass('hover');
          id = $(this).attr('id');
          $('#'+id+'>img,#'+id+'>a').css({opacity:1});
        });
        $('button.big').bind('mouseleave', function()
        {
          $(this).removeClass('hover');
          id = $(this).attr('id');
          $('#'+id+'>img,#'+id+'>a').css({opacity:0.7});
        });
        $('button.big').bind('click', function()
        {
          url = $('#'+$(this).attr('id')+'-link').attr('href');
          $(location).attr('href',url);
        });
      }
      function initialize_headershortcut()
      {
        $('.shortcut').css({opacity: 0.7});
      }
      $(document).ready(function()
      {
        initialize_bigbutton();
        initialize_headershortcut();
      });
    -->
    </script>

  </head>
  
  <body>

    <div class="header-container dark">

      <div class="header">
        <div class="header-menubar">
          <a href="/" class="current">Home</a>
          <a href="/about.html">About</a>
          <a href="https://github.com/alasca/alasca/">GitHub &raquo;</a>
        </div>
        <div class="header-content">
          <div class="logo">
            <img src="assets/img/logo-alasca-128x128.png" alt="Alasca Logo" height="80" width="80"  />
          </div>
          <div class="title">
            <h1><a href="/" title="Alasca, LDAP schema editor/convertor">Alasca</a></h1>
            <h2>A tool to edit and convert your LDAP schemas</h2>
          </div>
          <div class="shortcut">
            <span class="label">Compatible with</label>
            <img src="assets/img/icon-linux-24x24.png" alt="Linux icon" height="24" width="24" class="light" />
            <img src="assets/img/icon-macosx-24x24.png" alt="Mac OS X icon" height="24" width="24" class="light" />
          </div>
        </div>
      </div>

    </div>

    <div class="layout-spacer home dark"></div>

    {{ content }}

    <div class="layout-container">

      <div class="layout full">
        <div class="layout-content center">
          <p>
            Alasca is an open source software, covered by the <a href="http://www.gnu.org/licenses/gpl-2.0.html" title="GNU GPL license 2" rel="nofollow">GPL license</a>.
          </p>
        </div>
      </div>

    </div>

  </body>

</html>
